/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/*Swiper*/

.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-slider .slider-bg-position {
  background-size: cover !important;
  background-position: center center !important;
}

.main-slider .swiper-button-prev,
.main-slider .swiper-button-next {
  background-image: none !important;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.main-slider h2 {
  color: #fff;
  font-size: 54px;
  line-height: 59px;
  padding: 0 19%;
  text-transform: uppercase;
}

.main-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.9);
}

.main-slider .swiper-pagination-bullet-active {
  background: #0297ff;
}

